{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "store": "./redux/store",
          "utils": "./views/utils",
          "components": "./views/components",
          "pages": "./views/pages",
          "icons": "./views/icons"
        }
      }
    ],
    "transform-class-properties",
    "transform-decorators",
    "transform-react-constant-elements",
    "transform-react-inline-elements"
  ]
}
